
@keyframes username {
	0% {color: black;}
	15% {color:grey;}
	25% {color:orange;}
	35% {color:red;}
	50% {color:green;}
	65% {color:violet;}
	75% {color:teal;}
	85% {color:tomato;}
	100% {color:black;}
}

body{
  background: grey;
  text-align: center;
	padding: auto;
	margin: auto;
	width:1080px;
	height: 60%;
	font-size: 150%;
	font-family: Times;
}

#container{
	width:1080px;
	height:auto;
	text-align: center;
	background-color: white;
	border:3px solid #EEB210;
}

#top-bar{
	height: 145px;
	background-image: url(images/Top-Bar.png);
}

#username{
	animation-name: username;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	text-align: left;
	margin-left: 30px;
	padding-top: 3%;
	font-size: 150%;
}

#follower-count{
	height: 355px;
	background-image: url(images/Follower-Count.png);
	margin-bottom: 50px;

}

#following{
	margin-left: 72%;
	margin-top:-7%;
	font-size: 150%;
}

#followers{
	margin-left: 30%;
	margin-top:-7%;
	font-size: 150%;
}

#posts{
	margin-right:10%;
	margin-top:-20%;
	font-size:150%;
}

#profile-picture{
	border-radius: 50%;
	height: 255px;
	width: 255px;
	margin-top: 53px;
	margin-right: 710px;
}

#photo-bar{
	height: 140px;
	background-image: url(images/Photo-Bar.png);
}

.ig-image{
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	display: table-row-group, inline;
	width: 325px;
	height: 325px;
	
}

.ig-image:hover {
	width:340px;
	height:340px;
}

#bottom-bar{
	height: 135px;
	background-image: url(images/Bottom-Bar.png);
}

#bio{
	margin-bottom: 200px;
}
